body {
  margin: 0;

  font
}

.ficha-header span {
  float: right;
}

header {
  padding: 0.5%;
  background: #000;
  font-family: 'Aref Ruqaa', serif;
  font-size: 30px;
  text-align: center;
  border-bottom: 10px solid #02A4D3;
  box-shadow: 0 5px 30px 30px rgba(0,0,0,0.5);
}

ul {
  margin: 0;
}

.list-header {
  font-size: 24px;
}

.list-item {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.hidden-link {
  color: white;
}

.text-normal {
  font-family: 'Aladin', cursive;
  font-size: 27px;
  padding: 0 10%;
  cursor: default;
}

/* Pattern for all the sheet text */
.ficha {
  background: #fff9c4;
  max-width: 90%;
  padding: 10px 50px;
  width: 600px;
  display: block;
  margin: auto;
  margin-top: 10px;
  line-height: 125%;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(0,0,0,0.5);
  font-family: 'Aladin', cursive;
  font-size: 24px;
  letter-spacing: 1px;
  cursor: default;
}

/* Whenever I want to justify something */
.justify {
  text-align: justify;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: min-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltiptext {
  display: block;
  padding: 10px;
  white-space: nowrap;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
